/* archive.css */

.archive-container {
  width: 100vw; 
  display: flex;
  height: 100vh; /* Full height of the viewport */
  overflow: hidden; /* This hides overflow from the main container */
  justify-content: flex-start; /* Align items to start */
}

.archive-trips {
  padding-left: 200px;  /* Adjust padding as necessary, reduce if needed */
  display: flex;
  flex-direction: column;
  flex: 1; /* Takes available width */
  overflow-y: auto; /* Enable vertical scrolling */
}

.map-container {
  flex: 1; /* Takes up the remaining space */
  display: flex; /* Flex layout to accommodate its content */
  background-color: #c3c7b2; /* Optional background color */
  overflow: hidden; /* Prevents map overflow issues, not scrollable */
  margin-right: -22%;
}

.map {
  width: 100%; /* Ensure the map takes full width */
  height: 100%; /* Ensure the map takes full height */
  overflow: hidden; /* Prevents overflow issues */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .archive-container {
    flex-direction: column; /* Stacks on smaller screens */
  }
  .archive-trips,
  .map-container {
    height: 50vh; /* Each takes half height on small screens */
  }
}