/* src/screens/GlobalStyles.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Unkempt:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #FCF8F6; /* Light background color */
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
  
  .trips-container {
    padding: 20px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #616242; /* Darker background for header */
    color: white;
    padding: 10px;
    font-family: "Unkempt", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .icons {
    display: flex;
    align-items: center;
  }
  
  .bell {
    margin-right: 20px;
  }
  
  .profile-pic {
    border-radius: 50%;
    width: 40px; /* Size of the profile picture */
    height: 40px;
  }
  
  .past-trips, .all-doc-trips {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  h2 {
    margin-top: 40px;
    font-family: "Unkempt", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
  }

  h1{
    font-family: "Unkempt", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
  }

  h3 {
    font-family: "Unkempt", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
  }

  .unkempt-regular {
    font-family: "Unkempt", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .unkempt-bold {
    font-family: "Unkempt", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  
.montserrat {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
