/* explore page */
/* .content{
    margin-left: 700px;
} */
.header{
    background-color: transparent;
    color: black;
}

.notifications-container {
    width: calc(100vw - 200px);
    box-sizing: border-box;
    /* margin: 0 auto; */
    margin-left: 160px;
    padding: 20px;
    background-color: #FCF8F6;
}

.new-notification {
    /* display: flex;
    padding: 10px;
    overflow-x: auto;
    white-space: nowrap;
    width: 75%;
    scrollbar-width: none; */
    display: flex;
    /* flex-wrap: wrap; */
    overflow-x: auto;
    color: #333;
    margin-bottom: 40px;
    padding-bottom: 20px;
    scrollbar-width: none;
}

/* .new-trips div {
    flex: 0 0 auto;
    margin-right: 15px;
} */

.all-notifications {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: flex-start;
    margin-top: 20px;
    width: 75%;

}